.navbarWrapper {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.hide {
  transform: translateY(-100%);
}

.show {
  transform: translateY(0%);
}

.linkContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.indicator {
  position: absolute;
  bottom: -0.75rem;
  height: 3px;
  background-color: var(--theme-color);
  opacity: 0;
  transition: left 0.3s ease, width 0.3s ease, opacity 0.2s ease;
}

.profileDropdown {
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 260px;
  padding: 1rem;
  color: black;
}

.separator {
  border: none;
  border-top: 1px solid #eee;
  margin: 0.75rem 0;
}

.dropdownPanel {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.5rem;
  display: flex;
  gap: 1rem;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  min-width: clamp(320px, 80vw, 1000px);
  user-select: none;
  z-index: 5;
}

.dropdownPanel.visible {
  opacity: 1;
  pointer-events: auto;
}

.grayBackground {
  background-color: #f9fafb;
  border-radius: 4px;
  padding: 0.5rem;
}
